<!--Navbar-->
<nav class="navbar navbar-expand-lg navbar-dark fixed-top scrolling-navbar">
    <div class="container">
        <a class="navbar-brand" href="/"><strong>Wildlife management and tracking application</strong></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-7" aria-controls="navbarSupportedContent-7" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent-7">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/animals">Animals</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/sightings">Sightings</a>
                </li>
               
            </ul>
        </div>
    </div>
</nav>
<!-- Navbar -->
<!-- Full Page Intro -->
<div class="view" style="background-image: url('https://wallpaperplay.com/walls/full/7/9/c/86517.jpg'); background-repeat: no-repeat; background-size: cover; background-position: center center;">
    <!-- Mask & flexbox options-->
    <div class="mask rgba-black-light align-items-center">
        <!-- Content -->
        <div class="container">
            <!--Grid row-->
            <div class="indexRow">
                <!--Grid column-->
                <div class="col-md-12 mb-4 white-text text-center">
                    <h1 class="h1-reponsive white-text text-uppercase font-weight-bold mb-0 pt-md-5 pt-5 animated wobble"><strong> Rembo  Salon Manager <i class="fas fa-mask animated rotateIn infinite"></i></strong></h1>


                </div>
                <!--Grid column-->
            </div>
            <!--Grid row-->
        </div>
        <!-- Content -->
    </div>
    <!-- Mask & flexbox options-->
</div>
<!-- Full Page Intro -->
</header>
<!-- Main navigation -->






































<!--&lt;!&ndash;Main Layout&ndash;&gt;-->
<!--<main>-->
    <!--<div class="container">-->
        <!--&lt;!&ndash;Grid row&ndash;&gt;-->
        <!--<div class="row py-5">-->
            <!--&lt;!&ndash;Grid column&ndash;&gt;-->
            <!--<div class="col-md-12 text-center">-->

            <!--</div>-->
            <!--&lt;!&ndash;Grid column&ndash;&gt;-->
        <!--</div>-->
        <!--&lt;!&ndash;Grid row&ndash;&gt;-->
    <!--</div>-->
<!--</main>-->
<!--&lt;!&ndash;Main Layout&ndash;&gt;-->